<footer role="contentinfo" class="footer">
  <p><small>&copy; {{date format="YYYY"}}</small></p>
  <p><small>主题修改自 <a href="http://ghostium.oswaldoacauan.com/" target="_blank">Ghostium </a> by <a href="http://twitter
  .com/oswaldoacauan" target="_blank">@oswaldoacauan</a></small></p>
  <p><small>自豪地使用 <a href="http://ghost.org" target="_blank">Ghost</a></small></p>
</footer>
