.footer-container {
  position: fixed;
  padding: 0 8% 0 0;
  max-width: 910px;
  bottom: 0;
  width: 100%;
  background-color: $footer-color;
}

.footer {
  font-family: $text-font-family;
  padding: 20px 0;

  .hr-separator {
    width: 100%;
  }

  color: $muted-text-color;

  a {
    color: $muted-text-color;

    &:hover,
    &:focus {
      color: $primary-color;
    }
  }

  p {
    margin-bottom: 0;
    line-height: 1;
  }

  small {
    font-size: 11px;
  }
}
